<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <%- include('block/face') %>
    <%- include('block/what') %>
    <%- include('block/wooman') %>
    <%- include('block/factors') %>
    <%- include('block/stop') %>
    <%- include('block/surgeon') %>
    <%- include('block/treatmen') %>
    <%- include('block/effects') %>
    <%- include('block/sostav') %>
    <%- include('block/professional') %>
    <%- include('block/commits') %>
    <%- include('block/info') %>
    <%- include('block/face') %>
    <section class="section section_footer">
        <footer>
            <div class="container">
                <div class="adress" data-aos="fade-up">
                     <p class="footer_leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                         <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a>
                     </p>
                </div>
            </div>
        </footer>
    </section>
    <body>
        <%- include('block/script') %>
    </body>
</html>
