<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <body>
        <main>
            <%- include('block/face') %>
            <%- include('block/symptoms') %>
            <%- include('block/facts') %>
            <%- include('block/problems') %>
            <%- include('block/help') %>
            <%- include('block/count') %>
            <%- include('block/ingredients') %>
            <%- include('block/research') %>
            <%- include('block/recommendations') %>
            <%- include('block/commits') %>
            <%- include('block/face') %>
            <section class="section section_footer">
                <footer>
                    <div class="container">
                        <div class="adress">
                             <p class="footer_leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                                 <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a>
                             </p>
                        </div>
                    </div>
                </footer>
            </section>
            <div id="loader-wrapper">
                <div id="loader"></div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </main>
        <%- include('block/script') %>
    </body>
</html>
